.git
.venv
__pycache__
*.pyc
.ipynb_checkpoints
.pytest_cache


notebooks
reports
dashboard/__pycache__
tests

data/raw
data/processed/*
!data/processed/cement_operations_merged.csv

models/*
!models/schedule_informed_rf_8week.joblib
!models/schedule_informed_rf_features.joblib

project_structure.txt
*.zip